<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Apresentação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre Mim</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <p> Oi! Sou a Madalena e descobri que o designer de interfaces e de produtos é a área que quero seguir, gosto de criar e tornar a interface bonita e navegável</p>

      <ion-button expand="block" color="success" routerLink="/home" style="margin-top: 20px;">
        Voltar ao início
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
