<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Meu Cartão de Identificação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <img src="assets/icon/minha-foto.png" style="width: 120px; border-radius: 50%; margin-top: 10px;" />
      <ion-card-title>Madalena França Gentil Veiga</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Código da turma:</strong> ADS0301M</p>
      <p><strong>Unidade:</strong> Bonsucesso</p>
      <p><strong>Turno:</strong> Manhã</p>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" color="success" routerLink="/sobre">
    Ver Sobre
  </ion-button>
</ion-content>
